@model CanteenVanLang.Models.ORDER
@using CanteenVanLang.Models
@{
    ViewBag.Title = Model.ORDER_CODE;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var menus = ViewBag.menus as List<MENU>;
    var orderDetails = ViewBag.listOrderDetails as List<ORDER_DETAIL>;
    var idOrder = Model.ID;
}
<div class="page-content-wrapper-inner">
    <div class="viewport-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb has-arrow">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Order")">Quản lý đơn đặt hàng</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Model.ORDER_CODE</li>
            </ol>
        </nav>
    </div>
    <div class="content-viewport">
        <div class="row">
            <div class="col-lg-12 equel-grid">
                <div class="grid">
                    <p class="grid-header">Chi tiết đơn đặt hàng</p>

                    <button onclick="DeleteOrder()" style="float: right; margin-right: 40px" type="button" class="btn btn-sm btn-light">Hủy</button>

                    <button onclick="print()" type="button" class="btn btn-sm btn-light" style="float: right; margin-right: 40px">In</button>
                  
                    <a href="@Url.Action("Update", "Order", new { id = idOrder })" style="float: right; margin-right: 40px">
                        <button type="button" class="btn btn-sm btn-primary">Cập nhật</button>
                    </a>

                    <div class="grid-body">
                        <div class="item-wrapper">
                            <div class="row mb-3">
                                <div class="col-md-8 mx-auto">
                                    <div class="form-group row showcase_row_area">
                                        <div class="col-md-3 showcase_text_area">
                                            <label for="inputType1"><b>Khách hàng</b></label>
                                        </div>
                                        <div class="col-md-9 showcase_content_area">
                                            <label for="inputType1">@Model.CUSTOMER.FULLNAME</label>
                                        </div>
                                    </div>
                                    <div class="form-group row showcase_row_area">
                                        <div class="col-md-3 showcase_text_area">
                                            <label for="inputType12"><b>Nhân viên</b></label>
                                        </div>
                                        <div class="col-md-9 showcase_content_area">
                                            @if (Model.ACCOUNT_ID != null)
                                            {
                                                <label for="inputType12">@Model.ACCOUNT.FULLNAME</label>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row showcase_row_area">
                                        <div class="col-md-3 showcase_text_area">
                                            <label for="inputType13"><b>Ngày mua</b></label>
                                        </div>
                                        <div class="col-md-9 showcase_content_area">
                                            <label for="inputType13">@(((DateTime)Model.DATE).ToString("dd/MM/yyyy"))</label>
                                        </div>
                                    </div>
                                    <div class="form-group row showcase_row_area">
                                        <div class="col-md-3 showcase_text_area">
                                            <label for="inputType1"><b>Trạng thái</b></label>
                                        </div>
                                        <div class="col-md-9 showcase_content_area">
                                            <label for="inputType1">@(Model.STATUS == 1 ? "Chưa dùng" : Model.STATUS == 2 ? "Đã thanh toán" : Model.STATUS == 3 ? "Hết hạn" : "Hủy")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="grid">
                    <div class="item-wrapper">
                        <div class="table-responsive">
                            <table class="table" id="table-order-details">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Mã món ăn theo ngày
                                        </th>
                                        <th>
                                            Tên món ăn
                                        </th>
                                        <th>
                                            Đơn giá
                                        </th>
                                        <th>
                                            Số lượng
                                        </th>
                                        <th>
                                            Thành tiền
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in orderDetails)
                                    {
                                        <tr>
                                            <td>@item.MENU_ID</td>
                                            <td>@item.MENU.MENU_CODE</td>
                                            <td>@item.MENU.FOOD.FOOD_NAME</td>
                                            <td>@item.UNIT_PRICE</td>
                                            <td>@item.QUANTITY</td>
                                            <td>@(item.UNIT_PRICE * item.QUANTITY)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function DeleteOrder() {
            if (confirm("Bạn có chắc chắn muốn huỷ đơn đặt hàng này?")) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Order")",
                    data: JSON.stringify({ id: @idOrder }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        if (r.success) {
                            alert("Huỷ đơn đặt hàng thành công.");
                            window.location.href = "@Url.Action("Details", "Order", new { id = idOrder })";
                        } else {
                            alert("Không thể hủy đơn dặt hàng ở trạng thái đã thanh toán.");
                        }
                    }
                });
            }
        }

        function print() {
            if (@Model.STATUS == 3 || @Model.STATUS == 4) {
                alert("Bạn không thể in hoá đơn này. Hóa đơn chỉ được in với đơn đặt hàng đã thanh toán hoặc chưa dùng.");
            } else {
                window.location.href = "@Url.Action("Print", "Order", new { id = idOrder })";
            }
        }
    </script>
}
