@model IEnumerable<CanteenVanLang.Models.ORDER>
@using CanteenVanLang.Models;
@{
    ViewBag.Title = "Danh sách đơn đặt hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var total = 0;
    var listDetail = new List<ORDER_DETAIL>();
}


<div class="col-lg-12">
    <div class="grid">
        <p class="grid-header">Danh sách đơn đặt hàng</p>
        <a href="@Url.Action("Create", "Order")" style="float: right; margin-right: 40px">
            <button type="button" class="btn btn-sm btn-primary">Thêm đơn đặt hàng</button>
        </a>

        <div class="item-wrapper">
            <div class="table-responsive">
                <table class="table" id="food-table">
                    <thead>
                        <tr>
                            <th>
                                Mã đơn đặt hàng
                            </th>
                            <th>
                                Khách hàng
                            </th>
                            <th>
                                Nhân viên
                            </th>
                            <th>
                                Ngày mua
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Tổng tiền (VNĐ)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            total = 0;
                            listDetail = item.ORDER_DETAIL.ToList<ORDER_DETAIL>();
                            <tr>
                                <td>
                                    @item.ORDER_CODE
                                </td>
                                <td>
                                    @item.CUSTOMER.FULLNAME
                                </td>
                                <td>
                                    @if (item.ACCOUNT != null)
                                    {
                                        @item.ACCOUNT.FULLNAME
                                    }
                                </td>
                                <td>
                                    @(((DateTime)item.DATE).ToString("dd/MM/yyyy"))
                                </td>
                                <td>
                                    @if (item.STATUS == 1)
                                    {
                                        <label class="badge badge-info">Chưa dùng</label>
                                    }
                                    else if (item.STATUS == 2)
                                    {
                                        <label class="badge badge-success">Đã thanh toán</label>
                                    }
                                    else if (item.STATUS == 3)
                                    {
                                        <label class="badge badge-dark">Hết hạn</label>
                                    }
                                    else if (item.STATUS == 4)
                                    {
                                        <label class="badge badge-danger">Hủy</label>
                                    }
                                </td>

                                @foreach (var detail in listDetail)
                                {
                                    total += detail.QUANTITY * detail.UNIT_PRICE;
                                }
                                <td>
                                    @total.ToString("N0")
                                </td>
                                <td>
                                    <form action="@Url.Action("Details", "Order", new { id = item.ID })" style="display:inline">
                                        <button type="submit" class="btn action-btn btn-like btn-outline-danger btn-rounded">
                                            <i class="mdi mdi-information-variant"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#inlineFormInputGroup").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#food-table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}
