@model CanteenVanLang.Models.CUSTOMER
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewBag.Title = "Đăng nhập";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url(@Url.Content("~/Content/customer/images/bg_1.jpg")); background-position: 50% -15px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
                <p class="breadcrumbs mb-0">
                    <span class="mr-2">
                        <a href="@Url.Action("Index", "Home")">
                            Trang chủ
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </span>
                </p>
                <h2 class="mb-0 bread" style="margin-top: 10px">Đăng nhập</h2>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 ftco-animate fadeInUp ftco-animated">
                <form action="@Url.Action("Login", "Customer")" method="post" class="contactForm" id="target">
                    @*<div class="row">
                            <div class="col-md-6 offset-md-3"><h3 class="mb-4 billing-heading">Đăng nhập</h3></div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group">
                                <label for="firstname">Email</label>
                                <input type="text" class="form-control" placeholder="" name="email" id="email" />
                                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger", @required = "true" })

                            </div>
                        </div>

                        <div class="w-100"></div>
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group">
                                <label for="streetaddress">Mật khẩu</label>
                                <input type="password" class="form-control" name="password" id="password" required>
                                @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                                @if (Convert.ToBoolean(Session["customerNotFound"]) || Convert.ToBoolean(Session["incorrectPwd"]))
                                {
                                    <p class="user-name error text-danger">Email hoặc mật khẩu không đúng</p>
                                }
                            </div>
                            @*<div id="passwordErrorContainer">
                                    <p class="emptyError" style="color: red"></p>
                                    <p class="notMatchError" style="color: red"></p>
                                </div>*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 offset-md-3" style="text-align: center"><button class="btn btn-primary py-3 px-4" style="margin-top: 50px; width: 170px" type="submit">Đăng nhập</button></div>
                    </div>
                </form><!-- END -->
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script>
        $('#target').submit(function (event) {
            var emailField = $('#email');
            var passwordField = $('#password');
            if (emailField.val() === '') {
                $('#emailErrorContainer').html('Vui lòng nhập email');
                event.preventDefault();
            }
            if (passwordField.val() === '') {
                $('#passwordErrorContainer>.emptyError').html('Vui lòng nhập mật khẩu');
                event.preventDefault();
            }
        });
    </script>*@
}
