@model CanteenVanLang.Models.CUSTOMER
@using CanteenVanLang.Models
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url(&quot;@Url.Content("~/Content/customer/images/bg_1.jpg")&quot;); background-position: 50% -15px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
                <p class="breadcrumbs mb-0">
                    <span class="mr-2">
                        <a href="@Url.Action("Index", "Home")">
                            Trang chủ
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </span>
                </p>
                <h2 class="mb-0 bread" style="margin-top: 10px">Đăng ký</h2>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 ftco-animate fadeInUp ftco-animated">
                @using (Html.BeginForm("SignUp", "Customer", FormMethod.Post))
                {
                    <h3 class="mb-4 billing-heading">Đăng ký</h3>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row align-items-end">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstname">Họ và tên</label>
                                @Html.EditorFor(model => model.FULLNAME, new { htmlAttributes = new { @class = "form-control", @required = true, @maxLength = 30 } })
                                @Html.ValidationMessageFor(model => model.FULLNAME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="lastname">Email</label>
                                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control", @required = true, @maxLength = 100 } })
                                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="streetaddress">Mật khẩu</label>
                                @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control", @required = true, @type = "password", @maxLength = 20 } })
                                @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="streetaddress">Xác nhận mật khẩu</label>
                                @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control", @required = true, @type = "password" } })
                                @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="towncity">Số điện thoại</label>
                                @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control", @required = true, @maxLength = 15, @pattern = "^0[0-9]{9}$" } })
                                @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="country">Khoa</label>
                                <div class="select-wrap">
                                    <div class="col-md-9 showcase_content_area">
                                        @Html.DropDownList("FACULTY_ID", new SelectList(ViewBag.Faculties, "ID", "FACULTY_NAME"), new { @class = "custom-select" })
                                        @Html.ValidationMessageFor(model => model.FACULTY_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 px-4" style="margin-top: 30px">Đăng ký</button>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
