@model IEnumerable<CanteenVanLang.Models.FACULTY>
@{
    Layout = null;
}
<html lang="en">
<head>
    <title>Liquor Store - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/customer/css/animate.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/customer/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/customer/css/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/customer/css/magnific-popup.css")">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/customer/css/flaticon.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/customer/css/style.css")">
    <style type="text/css">
        .scrollax-performance, .scrollax-performance *, .scrollax-performance *:before, .scrollax-performance *:after {
            pointer-events: none !important;
            -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
        }
    </style>
</head>
<body>
    @if (ViewBag.SignInSucceed != null)
    {
        <script>
            alert('Tài khoản đã được tạo thành công');
            window.location.href = "/Customer/Login";
        </script>
    }
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <p class="mb-0 phone pl-md-2">
                        <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +00 1234 567</a>
                        <a href="#"><span class="fa fa-paper-plane mr-1"></span> youremail@email.com</a>
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-md-end">
                    <div class="social-media mr-4">
                        <p class="mb-0 d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                        </p>
                    </div>
                    <div class="reg">
                        <p class="mb-0">
                            @if (Session["customerEmail"] == null)
                            {
                                <a href="/Customer/SignUp" class="mr-2">Sign Up</a> <a href="/Customer/LogIn">Log In</a>
                            }
                            else
                            {
                                <a href="/Customer/UpdateCustomer" class="mr-2">@Session["customerName"]</a> <a href="#">Đăng xuất</a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">CANTEEN <span>VANLANG</span></a>
            <div class="order-lg-last btn-group">
                <a href="#" class="btn-cart dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="flaticon-shopping-bag"></span>
                    <div class="d-flex justify-content-center align-items-center"><small>3</small></div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-item d-flex align-items-start" href="#">
                        <div class="img" style="background-image: url(images/prod-1.jpg);"></div>
                        <div class="text pl-3">
                            <h4>Bacardi 151</h4>
                            <p class="mb-0"><a href="#" class="price">$25.99</a><span class="quantity ml-3">Quantity: 01</span></p>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex align-items-start" href="#">
                        <div class="img" style="background-image: url(images/prod-2.jpg);"></div>
                        <div class="text pl-3">
                            <h4>Jim Beam Kentucky Straight</h4>
                            <p class="mb-0"><a href="#" class="price">$30.89</a><span class="quantity ml-3">Quantity: 02</span></p>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex align-items-start" href="#">
                        <div class="img" style="background-image: url(images/prod-3.jpg);"></div>
                        <div class="text pl-3">
                            <h4>Citadelle</h4>
                            <p class="mb-0"><a href="#" class="price">$22.50</a><span class="quantity ml-3">Quantity: 01</span></p>
                        </div>
                    </div>
                    <a class="dropdown-item text-center btn-link d-block w-100" href="cart.html">
                        View All
                        <span class="ion-ios-arrow-round-forward"></span>
                    </a>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="product.html">Products</a>
                            <a class="dropdown-item" href="product-single.html">Single Product</a>
                            <a class="dropdown-item" href="cart.html">Cart</a>
                            <a class="dropdown-item" href="checkout.html">Checkout</a>
                        </div>
                    </li>
                    <li class="nav-item	"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url(&quot;@Url.Content("~/Content/customer/images/bg_1.jpg")&quot;); background-position: 50% -15px;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Đăng ký <i class="fa fa-chevron-right"></i></span></p>
                    <h2 class="mb-0 bread">Đăng ký</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 ftco-animate fadeInUp ftco-animated">
                    <form method="post" class="billing-form" id="target">
                        <h3 class="mb-4 billing-heading">Đăng ký</h3>
                        <div class="row align-items-end">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="firstname">Họ và tên</label>
                                    <input type="text" class="form-control" placeholder="" name="name" id="name">
                                </div>
                                <p style="color: red" id="nameErrorContainer"></p>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="lastname">Email</label>
                                    <input type="text" class="form-control" placeholder="" name="email" id="email1">
                                </div>
                                <p style="color: red" id="emailErrorContainer"></p>
                            </div>

                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="streetaddress">Mật khẩu</label>
                                    <input type="password" class="form-control" name="password" id="password">
                                </div>
                                <div id="passwordErrorContainer">
                                    <p class="emptyError" style="color: red"></p>
                                    <p class="notMatchError" style="color: red"></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="streetaddress">Xác nhận mật khẩu</label>
                                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
                                </div>
                                <div id="confirmPasswordErrorContainer">
                                    <p class="emptyError" style="color: red"></p>
                                    <p class="notMatchError" style="color: red"></p>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="towncity">Số điện thoại</label>
                                    <input type="text" class="form-control" placeholder="" name="numberphone" id="numberphone">
                                </div>
                                <p style="color: red" id="numberphoneErrorContainer"></p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="country">Khoa</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="faculty" id="faculty" class="form-control">
                                            <option disabled="disabled" selected="selected">Chọn khoa</option>
                                            @foreach (var faculty in Model)
                                            {
                                                <option value="@faculty.ID">@faculty.FACULTY_NAME</option>
                                            }
                                        </select>
                                    </div>
                                    <p style="color: red" id="facultyErrorContainer"></p>
                                </div>
                            </div>
                        </div>
                        <div style="color :red">
                            @Html.ValidationMessage("emptyName")
                            @Html.ValidationMessage("emptyEmail")
                            @Html.ValidationMessage("emptyPassword")
                            @Html.ValidationMessage("emptyConfirmPassword")
                            @Html.ValidationMessage("emptyPhone")
                            @Html.ValidationMessage("emptyFaculty")
                            @Html.ValidationMessage("invalidPhone")
                            @Html.ValidationMessage("invalidEmail")
                            @Html.ValidationMessage("existedEmail")
                        </div>
                        <button class="btn btn-primary py-3 px-4">Đăng ký</button>
                    </form><!-- END -->
                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section>

    <footer class="ftco-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2 logo"><a href="#">Liquor <span>Store</span></a></h2>
                        <p>Far far away, behind the word mountains, far from the countries.</p>
                        <ul class="ftco-footer-social list-unstyled mt-2">
                            <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">My Accounts</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>My Account</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Register</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Log In</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>My Order</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>About us</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Catalog</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contact us</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Term &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Quick Link</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>New User</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Help Center</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Report Spam</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Faq's</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon fa fa-map marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0 py-5 bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <p class="mb-0" style="color: rgba(255,255,255,.5);">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright ©
                            <script>document.write(new Date().getFullYear());</script>2021 All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"></circle><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"></circle></svg></div>

    <script src="@Url.Content("~/Content/customer/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/customer/js/jquery-migrate-3.0.1.min.js")"></script>
    <script src="@Url.Content("~/Content/customer/js/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/customer/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/customer/js/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Content/customer/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/Content/customer/js/jquery.stellar.min.js")"></script>
    <script src="@Url.Content("~/Content/customer/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Content/customer/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/Content/customer/js/jquery.animateNumber.min.js")"></script>
    <script src="@Url.Content("~/Content/customer/js/scrollax.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="@Url.Content("~/Content/customer/js/main.js")"></script>

    <script>
        $('#target').submit(function (event) {
            var nameField = $('#name');
            var emailField = $('#email');
            var passwordField = $('#password');
            var confirmPasswordField = $('#confirmPassword');
            var numberphoneField = $('#numberphone');
            var facultyField = $('#faculty');
            var emailPattern = /^[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$/;
            var phonePattern = new RegExp("^0[0-9]{9}$");
            if (nameField.val() === '') {
                $('#nameErrorContainer').html('Vui lòng nhập Họ và Tên');
                event.preventDefault();
            } else {
                $('#nameErrorContainer').html('');
            }
            if (emailField.val() === '') {
                $('#emailErrorContainer').html('Vui lòng nhập email');
                event.preventDefault();
            } else {
                $('#emailErrorContainer').html('');
            }
            if (passwordField.val() === '') {
                $('#passwordErrorContainer>.emptyError').html('Vui lòng nhập mật khẩu');
                event.preventDefault();
            } else {
                $('#passwordErrorContainer>.emptyError').html('');
            }
            if (confirmPasswordField.val() === '') {
                passwordError = true;
                $('#confirmPasswordErrorContainer>.emptyError').html('Vui lòng nhập xác nhận mật khẩu');
                event.preventDefault();
            } else {
                $('#confirmPasswordErrorContainer>.emptyError').html('');
            }
            if (numberphoneField.val() === '') {
                $('#numberphoneErrorContainer').html('Vui lòng nhập số điện thoại');
                event.preventDefault();
            } else {
                $('#numberphoneErrorContainer').html('');
            }
            if (facultyField.val() == null) {
                $('#facultyErrorContainer').html('Vui lòng chọn Khoa');
                event.preventDefault();
            } else {
                $('#facultyErrorContainer').html('');
            }
            if (passwordField.val() !== confirmPasswordField.val()) {
                $('#passwordErrorContainer>.notMatchError').html('Mật khẩu và xác nhận mật khẩu không trùng khớp');
                $('#confirmPasswordErrorContainer>.notMatchError').html('Mật khẩu và xác nhận mật khẩu không trùng khớp');
                event.preventDefault();
            } else {
                $('#confirmPasswordErrorContainer>.notMatchError').html('');
                $('#passwordErrorContainer>.notMatchError').html('');
            }
            if (!emailPattern.test(emailField.val())) {
                $('#emailErrorContainer').html('Email không hợp lệ, vui lòng nhập lại');
                event.preventDefault();
            } else {
                $('#emailErrorContainer').html('');
            }
            if (!phonePattern.test(numberphoneField.val())) {
                $('#numberphoneErrorContainer').html('Số điện thoại không hợp lệ, vui vòng nhập lại');
                event.preventDefault();
            } else {
                $('#numberphoneErrorContainer').html('');
            }
        });
    </script>
</body>
</html>