@model IEnumerable<CanteenVanLang.Models.FACULTY>
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@if (ViewBag.SignInSucceed != null)
{
    <script>
        alert('Tài khoản đã được tạo thành công');
        window.location.href = "/Customer/Login";
    </script>
}

<section class="hero-wrap hero-wrap-2" style="background-image: url(&quot;@Url.Content("~/Content/customer/images/bg_1.jpg")&quot;); background-position: 50% -15px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
                <p class="breadcrumbs mb-0">
                    <span class="mr-2">
                        <a href="index.html">
                            Trang chủ
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </span>
                </p>
                <h2 class="mb-0 bread" style="margin-top: 10px">Đăng ký</h2>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 ftco-animate fadeInUp ftco-animated">
                <form method="post" class="billing-form" id="target">
                    <h3 class="mb-4 billing-heading">Đăng ký</h3>
                    <div class="row align-items-end">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstname">Họ và tên</label>
                                <input type="text" class="form-control" placeholder="" name="name" id="name">
                            </div>
                            <p style="color: red" id="nameErrorContainer"></p>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="lastname">Email</label>
                                <input type="text" class="form-control" placeholder="" name="email" id="email1">
                            </div>
                            <p style="color: red" id="emailErrorContainer"></p>
                        </div>

                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="streetaddress">Mật khẩu</label>
                                <input type="password" class="form-control" name="password" id="password">
                            </div>
                            <div id="passwordErrorContainer">
                                <p class="emptyError" style="color: red"></p>
                                <p class="notMatchError" style="color: red"></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="streetaddress">Xác nhận mật khẩu</label>
                                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
                            </div>
                            <div id="confirmPasswordErrorContainer">
                                <p class="emptyError" style="color: red"></p>
                                <p class="notMatchError" style="color: red"></p>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="towncity">Số điện thoại</label>
                                <input type="text" class="form-control" placeholder="" name="numberphone" id="numberphone">
                            </div>
                            <p style="color: red" id="numberphoneErrorContainer"></p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="country">Khoa</label>
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="faculty" id="faculty" class="form-control">
                                        <option disabled="disabled" selected="selected">Chọn khoa</option>
                                        @foreach (var faculty in Model)
                                        {
                                            <option value="@faculty.ID">@faculty.FACULTY_NAME</option>
                                        }
                                    </select>
                                </div>
                                <p style="color: red" id="facultyErrorContainer"></p>
                            </div>
                        </div>
                    </div>
                    <div style="color :red">
                        @Html.ValidationMessage("emptyName")
                        @Html.ValidationMessage("emptyEmail")
                        @Html.ValidationMessage("emptyPassword")
                        @Html.ValidationMessage("emptyConfirmPassword")
                        @Html.ValidationMessage("emptyPhone")
                        @Html.ValidationMessage("emptyFaculty")
                        @Html.ValidationMessage("invalidPhone")
                        @Html.ValidationMessage("invalidEmail")
                        @Html.ValidationMessage("existedEmail")
                    </div>
                    <button class="btn btn-primary py-3 px-4" style="margin-top: 30px">Đăng ký</button>
                </form><!-- END -->
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#target').submit(function (event) {
            var nameField = $('#name');
            var emailField = $('#email');
            var passwordField = $('#password');
            var confirmPasswordField = $('#confirmPassword');
            var numberphoneField = $('#numberphone');
            var facultyField = $('#faculty');
            var emailPattern = /^[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$/;
            var phonePattern = new RegExp("^0[0-9]{9}$");
            if (nameField.val() === '') {
                $('#nameErrorContainer').html('Vui lòng nhập Họ và Tên');
                event.preventDefault();
            } else {
                $('#nameErrorContainer').html('');
            }
            if (emailField.val() === '') {
                $('#emailErrorContainer').html('Vui lòng nhập email');
                event.preventDefault();
            } else {
                $('#emailErrorContainer').html('');
            }
            if (passwordField.val() === '') {
                $('#passwordErrorContainer>.emptyError').html('Vui lòng nhập mật khẩu');
                event.preventDefault();
            } else {
                $('#passwordErrorContainer>.emptyError').html('');
            }
            if (confirmPasswordField.val() === '') {
                passwordError = true;
                $('#confirmPasswordErrorContainer>.emptyError').html('Vui lòng nhập xác nhận mật khẩu');
                event.preventDefault();
            } else {
                $('#confirmPasswordErrorContainer>.emptyError').html('');
            }
            if (numberphoneField.val() === '') {
                $('#numberphoneErrorContainer').html('Vui lòng nhập số điện thoại');
                event.preventDefault();
            } else {
                $('#numberphoneErrorContainer').html('');
            }
            if (facultyField.val() == null) {
                $('#facultyErrorContainer').html('Vui lòng chọn Khoa');
                event.preventDefault();
            } else {
                $('#facultyErrorContainer').html('');
            }
            if (passwordField.val() !== confirmPasswordField.val()) {
                $('#passwordErrorContainer>.notMatchError').html('Mật khẩu và xác nhận mật khẩu không trùng khớp');
                $('#confirmPasswordErrorContainer>.notMatchError').html('Mật khẩu và xác nhận mật khẩu không trùng khớp');
                event.preventDefault();
            } else {
                $('#confirmPasswordErrorContainer>.notMatchError').html('');
                $('#passwordErrorContainer>.notMatchError').html('');
            }
            if (!emailPattern.test(emailField.val())) {
                $('#emailErrorContainer').html('Email không hợp lệ, vui lòng nhập lại');
                event.preventDefault();
            } else {
                $('#emailErrorContainer').html('');
            }
            if (!phonePattern.test(numberphoneField.val())) {
                $('#numberphoneErrorContainer').html('Số điện thoại không hợp lệ, vui vòng nhập lại');
                event.preventDefault();
            } else {
                $('#numberphoneErrorContainer').html('');
            }
        });
    </script>
}