@model CanteenVanLang.Models.CUSTOMER

@{
    ViewBag.Title = "Cập nhật thông tin tài khoản";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@if (ViewBag.UpdateCustomerInformationSucceed != null)
{
    <script>
        alert('Cập nhật thông tin thành công');
        window.location.href = "@Url.Action("Index", "Home")";
    </script>
}
<section class="hero-wrap hero-wrap-2" style="background-image: url(&quot;@Url.Content("~/Content/customer/images/bg_1.jpg")&quot;); background-position: 50% -15px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
                <p class="breadcrumbs mb-0">
                    <span class="mr-2">
                        <a href="index.html">
                            Trang chủ
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </span>
                </p>
                <h2 class="mb-0 bread" style="margin-top: 10px">Cập nhật tài khoản</h2>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 ftco-animate fadeInUp ftco-animated">

                @using (Html.BeginForm("Update", "Customer", FormMethod.Post, new { @class = "contactForm", @id = "target" }))
                {
                    @*<h3 class="mb-4 billing-heading">Cập nhật thông tin tài khoản</h3>*@
                <div class="row">
                    @Html.AntiForgeryToken()

                    <div class="col-md-6 align-self-start">
                        <div class="form-group">
                            <label for="firstname">Họ và tên</label>
                            @Html.EditorFor(model => model.FULLNAME, new { htmlAttributes = new { @class = "form-control", @required = true } })
                            @Html.ValidationMessageFor(model => model.FULLNAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 align-self-start">
                        <div class="form-group">
                            <label for="streetaddress">Mật khẩu</label>
                            <input name="PASSWORD" type="password" class="form-control" required id="password" />
                            @*@Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = true } })*@
                            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 align-self-end">
                        <div class="form-group">
                            <label for="lastname">Email</label>
                            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control", @required = "true", @readonly = true, @style = "background-color: lightgray !important" } })
                            @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 align-self-end">
                        <div class="form-group">
                            <label for="streetaddress">Xác nhận mật khẩu</label>
                            @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control", @required = "true", @type = "password", @id = "confirm-password" } })
                            @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger", @id = "message" })
                        </div>
                    </div>
                    <div class="col-md-6 align-self-start">
                        <div class="form-group">
                            <label for="towncity">Số điện thoại</label>
                            @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control", @required = true } })
                            @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 align-self-end">
                        <div class="form-group">
                            <label for="country">Khoa</label>
                            <div class="select-wrap">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                @Html.DropDownList("FACULTY_ID", new SelectList(ViewBag.Faculties, "ID", "FACULTY_NAME", Model.FACULTY), new { @class = "custom-select" })
                                @Html.ValidationMessageFor(model => model.FACULTY_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 align-self-start">
                        <div class="form-group">
                            <label for="towncity">Hạng thành viên</label>
                            <input type="text" class="form-control" value="@(Model.MEMBER_TYPE == true ? "Thân thiết" : "Chưa thân thiết")" readonly style="background-color: lightgray !important">
                        </div>
                    </div>
                    <div class="col-md-6 align-self-start">
                        <div class="form-group">
                            <label for="towncity"></label>
                            
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3" style="text-align: center">
                            <a href="@Url.Action("Index", "Home")">
                                <button class="btn btn-light py-3 px-4" style="margin-top: 50px; width: 170px; margin-right: 10px" type="button">Hủy</button>
                            </a>
                            <button class="btn btn-primary py-3 px-4" style="margin-top: 50px; width: 170px; margin-left: 10px" type="submit">Cập nhật</button>
                        </div>
                    </div>
                }

            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
