@model CanteenVanLang.Models.FOOD
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Feature = "Quản lý món ăn";
    ViewBag.Title = Model.FOOD_NAME;
}
<div class="col-lg-12">
    <div class="grid">
        <p class="grid-header">Cập nhật món ăn</p>
        <div class="grid-body">
            <div class="item-wrapper">
                <div class="row mb-3">
                    <div class="col-md-8 mx-auto">
                        @using (Html.BeginForm("Update", "Food", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-update", @class = "form-add" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="hidden" value="@Model.CATEGORY_ID" name="idCategory" />

                            <div class="form-group row showcase_row_area">
                                <div class="col-md-3 showcase_text_area">
                                    <label for="inputType1">Mã món ăn</label>
                                </div>
                                <div class="col-md-9 showcase_content_area">
                                    @Html.EditorFor(model => model.FOOD_CODE, new { htmlAttributes = new { @class = "form-control", @id = "inputType1", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.FOOD_CODE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row showcase_row_area">
                                <div class="col-md-3 showcase_text_area">
                                    <label for="inputType1">Tên món ăn</label>
                                </div>
                                <div class="col-md-9 showcase_content_area">
                                    @Html.EditorFor(model => model.FOOD_NAME, new { htmlAttributes = new { @class = "form-control", @id = "inputType1", @required = true, @minLength = 0, @maxLength = 50 } })
                                    @Html.ValidationMessageFor(model => model.FOOD_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row showcase_row_area">
                                <div class="col-md-3 showcase_text_area">
                                    <label for="inputType1">Giá</label>
                                </div>
                                <div class="col-md-9 showcase_content_area">
                                    @Html.EditorFor(model => model.PRICE, new { htmlAttributes = new { @class = "form-control", @id = "inputType4", @required = true, @min = 0, @max = 1000000 } })
                                    @Html.ValidationMessageFor(model => model.PRICE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row showcase_row_area">
                                <div class="col-md-3 showcase_text_area">
                                    <label>Trạng thái</label>
                                </div>
                                <div class="col-md-9 showcase_content_area">
                                    <div class="form-inline">
                                        <div class="radio mb-3">
                                            <label class="radio-label mr-4">
                                                @Html.RadioButtonFor(model => model.STATUS, "true") Còn bán
                                                <i class="input-frame"></i>
                                            </label>
                                        </div>
                                        <div class="radio mb-3">
                                            <label class="radio-label">
                                                @Html.RadioButtonFor(model => model.STATUS, "false") Hết bán
                                                <i class="input-frame"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row showcase_row_area">
                                <div class="col-md-3 showcase_text_area">
                                    <label>Loại món ăn</label>
                                </div>
                                <div class="col-md-9 showcase_content_area">
                                    @Html.DropDownList("CATEGORY_ID", new SelectList(ViewBag.Categories, "ID", "CATEGORY_NAME", Model.CATEGORY), new { @class = "custom-select" })
                                    @Html.ValidationMessageFor(model => model.CATEGORY_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row showcase_row_area">
                                <div class="col-md-3 showcase_text_area">
                                    <label for="inputType9">Mô tả</label>
                                </div>
                                <div class="col-md-9 showcase_content_area">
                                    <textarea name="DESCRIPTION" class="form-control" id="inputType9" cols="12" rows="5">@Model.DESCRIPTION</textarea>
                                    @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row showcase_row_area mb-3">
                                <div class="col-md-3 showcase_text_area">
                                    <label>Hình ảnh</label>
                                </div>
                                <div class="col-md-9 showcase_content_area">
                                    <div class="custom-file">
                                        <input name="Picture" type="file" class="custom-file-input" id="IMG" onchange="readPicture(this);" accept="image/png, image/jpeg, image/jpg">
                                        <label class="custom-file-label" id="namePicture" for="customFile">Chọn tệp</label>
                                        <img class="logo test1" id="img-food" src="@Model.IMAGE_URL" width="200px" />
                                        @Html.ValidationMessageFor(model => model.IMAGE_URL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row showcase_row_area mb-3" style="position: absolute; bottom: 0;left: 50%">
                                <div class="col-md-6 showcase_text_area">
                                    <label>
                                        <a href="@Url.Action("Index", "Food")">
                                            <button id="cancel" type="button" class="btn btn-sm btn-light">Hủy</button>
                                        </a>
                                    </label>
                                </div>
                                <div class="col-md-6 showcase_content_area">
                                    <div class="custom-file">
                                        <input type="submit" class="btn btn-sm btn-primary" value="Cập nhật" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var quote_height = $(".form-add").outerHeight();
        var image_height = $("img#img-food").outerHeight();
        function readPicture(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('img#img-food').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
                image_height = $("img#img-food").outerHeight();

            }
        }

        function expand() {
            $(".form-add").css("height", (quote_height + image_height) + "px");
        }

        $(document).ready(function () {
            $(".form-add").css("height", (quote_height + 300) + "px");
        });
    </script>
}
