@using CanteenVanLang.Models;
@{
    ViewBag.Title = "Canteen Van Lang";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    var categories = ViewBag.Categories as List<CATEGORY>;
    var foods = ViewBag.Menu as List<FOOD>;
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/Sliders/1.jpg" alt="bún-bò-canteen-văn-lang">
            <div class="carousel-caption d-none d-md-block">
                <!--                    <p>thit cho bo duong</p>-->
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/Sliders/2.jpg" alt="mì-ý-canteen-văn-lang">
            <div class="carousel-caption d-none d-md-block">
                <!--                    <p>thit cho bo duong</p>-->
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/Sliders/3.jpg" alt="súp-canteen-văn-lang">
            <div class="carousel-caption d-none d-md-block">
                <!--                    <p>thit cho bo duong</p>-->
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/Sliders/4.jpg" alt="bánh-mì-canteen-văn-lang">
            <div class="carousel-caption d-none d-md-block">
                <!--                    <p>thit cho bo duong</p>-->
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/Sliders/5.jpg" alt="mì-hến-canteen-văn-lang">
            <div class="carousel-caption d-none d-md-block">
                <!--                    <p>thit cho bo duong</p>-->
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section class="ftco-intro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-support"></span>
                    </div>
                    <div class="text">
                        <h2>Thời gian hoạt động</h2>
                        <p>7AM - 14PM <br />Từ thứ Hai đến thứ Bảy luôn sẵn sàng phục vụ bạn</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-1 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-cashback"></span>
                    </div>
                    <div class="text">
                        <h2>Thanh toán sau</h2>
                        <p>Không cần phải trả trước khi đặt hàng, thanh toán tại quầy khi đến dùng bữa </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-2 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-free-delivery"></span>
                    </div>
                    <div class="text">
                        <h2>Phục vụ linh hoạt</h2>
                        <p>Chấp nhận dùng bữa tại chỗ hoặc mang đi mà không tốn thêm bất cứ chi phí nào</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(@Url.Content("~/Images/canteen.jpg"));">
            </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
                <div class="heading-section">
                    <span class="subheading">Từ 2020</span>
                    <h2 class="mb-4">Website Canteen Văn Lang</h2>
                    <p>Bắt đầu từ mô hình phục vụ truyền thống hiện có chưa thể đáp ứng đủ nhu cầu của người dùng và còn gặp nhiều hạn chế trong quy trình phục vụ, chúng tôi đã tìm cách thay thế bằng một thứ <i>linh động</i> hơn. <em>Website Canteen Văn Lang</em> ra đời từ đó.</p>
                    <p>Tính <i>tiện lợi và thân thiện</i> luôn là ưu tiên hàng đầu của webiste. Chỉ cần một vài <i>thao tác đơn giản</i> bạn đã có thể thưởng thức một bữa trưa tuyệt vời <i>đậm vị cơm nhà</i> ngay tại <strong>Canteen trường Đại học Văn Lang</strong>.</p>
                    <p class="year">
                        <strong class="number" data-number="117">0</strong>
                        <span>Ngày nghiên cứu và phát triển</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            @if (categories.Count <= 6)
            {
                for (int i = 0; i < categories.Count; i++)
                {
                    <div class="col-lg-2 col-md-4 ">
                        <div class="sort w-100 text-center ftco-animate">
                            <div class="img" style="background-image: url(@Url.Content("~"+categories[i].IMAGE_URL.Replace(@"\", "/")))"></div>
                            <a href="@Url.Action("Category", "Food", new { id = categories[i].ID })"><h3>@categories[i].CATEGORY_NAME</h3></a>
                        </div>
                    </div>
                }
            }
            else
            {
                for (int i = 0; i < 6; i++)
                {
                    <div class="col-lg-2 col-md-4 ">
                        <div class="sort w-100 text-center ftco-animate">
                            <div class="img" style="background-image: url(@Url.Content("~"+categories[i].IMAGE_URL.Replace(@"\", "/")));"></div>
                            <a href="@Url.Action("Category", "Food", new { id = categories[i].ID })"><h3>@categories[i].CATEGORY_NAME</h3></a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Chuẩn vị cơm nhà</span>
                <h2>Món ăn</h2>
            </div>
        </div>
        <div class="row">
            @if (foods.Count <= 4)
            {
                foreach (var item in foods)
                {
                    <div class="col-md-3 d-flex">
                        <div class="product ftco-animate">
                            <div class="img d-flex align-items-center justify-content-center" style="background-image: url(@Url.Content("~"+item.IMAGE_URL.Replace(@"\", "/")));">
                                <div class="desc">
                                    <p class="meta-prod d-flex">
                                        <a href="@Url.Action("BuyNow", "Order", new { id = item.ID })" class="d-flex align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                        @*<a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-heart"></span></a>*@
                                        <a href="@Url.Action("Details", "Food", new { id = item.ID })" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                    </p>
                                </div>
                            </div>
                            <div class="text text-center">
                                <span class="category">@item.CATEGORY.CATEGORY_NAME</span>
                                <a href="@Url.Action("Details", "Food", new { id = item.ID })"><h2>@item.FOOD_NAME</h2></a>
                                <p class="mb-0"><span class="price">@item.PRICE.ToString("N0") VNĐ</span></p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                for (int i = 0; i < 4; i++)
                {
                    <div class="col-md-3 d-flex">
                        <div class="product ftco-animate">
                            <div class="img d-flex align-items-center justify-content-center" style="background-image: url(@Url.Content("~"+foods[i].IMAGE_URL.Replace(@"\", "/")));">
                                <div class="desc">
                                    <p class="meta-prod d-flex">
                                        <a href="@Url.Action("Cart", "Order", new { id = foods[i].ID })" class="d-flex align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                        @*<a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-heart"></span></a>*@
                                        <a href="@Url.Action("Details", "Food", new { id = foods[i].ID })" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                    </p>
                                </div>
                            </div>
                            <div class="text text-center">
                                <span class="category">@foods[i].CATEGORY.CATEGORY_NAME</span>
                                <a href="@Url.Action("Details", "Food", new { id = foods[i].ID })"><h2>@foods[i].FOOD_NAME</h2></a>
                                <p class="mb-0"><span class="price">@foods[i].PRICE.ToString("N0") VNĐ</span></p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="@Url.Action("Index", "Food")" class="btn btn-primary d-block">Xem thêm món ăn  <span class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section img" style="background-image: url(@Url.Content("~/Images/Sliders/4.jpg"));">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Đôi nét</span>
                <h2 class="mb-3">Đội ngũ của chúng tôi</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Mang đến những bữa ăn dinh dưỡng và vệ sinh là cách mà tôi làm việc. Có kinh nghiệm làm bếp 5 năm tại các nhà hàng lớn.</p>
                                <div class="d-flex align-items-center">
                                    <div class="pl-3">
                                        <p class="name">Nhi Phan</p>
                                        <span class="position">Bếp trưởng</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Năng động và nhiệt tình là cách mà người khác nói về mình, luôn lắng nghe khách hàng là tiêu chí khi làm việc của bản thân mình.</p>
                                <div class="d-flex align-items-center">
                                    <div class="pl-3">
                                        <p class="name">Yến Dâng</p>
                                        <span class="position">Nhân viên quầy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Nguyên tắc khi làm việc của tôi là không được có sai sót. Mà lâu lâu sai sót tí thì chị quản lý bỏ qua cho em hihi.</p>
                                <div class="d-flex align-items-center">
                                    <div class="pl-3">
                                        <p class="name">Lan Phương</p>
                                        <span class="position">Thu ngân xinh đẹp</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Phải nghiêm túc khi làm việc, không được phép mắc sai lầm. Đặc biệt nhắc nhở đến cô thu ngân Lan Phương về vấn đề này.</p>
                                <div class="d-flex align-items-center">
                                    <div class="pl-3">
                                        <p class="name">Thanh Nhàn</p>
                                        <span class="position">Quản lý</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Blog</span>
                <h2>Blog gần đây</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
                <div class="blog-entry d-flex">
                    <a href="#" class="block-20 img" style="background-image: url(@Url.Content("~/Images/canteen-vlu-cs3-1.jpg"));">
                    </a>
                    <div class="text p-4 bg-light">
                        <div class="meta">
                            <p><span class="fa fa-calendar"></span> 13 Tháng 1 2021</p>
                        </div>
                        <h3 class="heading mb-3"><a href="#">Làm việc trong thời dịch Covid</a></h3>
                        <p>Nếu như bạn nghĩ làm việc trong bếp chỉ cần thực phẩm hay gia vị hay là một đầu bếp giỏi thì có lẽ..</p>
                        <a href="#" class="btn-custom">Tiếp tục <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
                <div class="blog-entry d-flex">
                    <a href="#" class="block-20 img" style="background-image: url(@Url.Content("~/Images/canteen-vlu-cs3-11.jpg"));">
                    </a>
                    <div class="text p-4 bg-light">
                        <div class="meta">
                            <p><span class="fa fa-calendar"></span> 27 tháng 12 2020</p>
                        </div>
                        <h3 class="heading mb-3"><a href="#">"Sức nóng" ẩn sau sự hào nhoáng bên ngoài</a></h3>
                        <p>Làm việc ở nhà bếp chưa bao giờ là dễ và còn đặc biệt "nóng" hơn tại nhà bếp của <em>Canteen Văn Lang</em></p>
                        <a href="#" class="btn-custom">Tiếp tục <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
                <div class="blog-entry d-flex">
                    <a href="#" class="block-20 img" style="background-image: url(@Url.Content("~/Images/canteen-vlu-cs3-2.jpg"));">
                    </a>
                    <div class="text p-4 bg-light">
                        <div class="meta">
                            <p><span class="fa fa-calendar"></span> 17 Tháng 12 2020</p>
                        </div>
                        <h3 class="heading mb-3"><a href="#">Những bữa cơm không bao giờ nguội</a></h3>
                        <p>Những bữa cơm chung luôn kéo gần khoảng cách giữa người với người, giữa thầy với trò, giữa cá nhân với tập thể</p>
                        <a href="#" class="btn-custom">Tiếp tục <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
                <div class="blog-entry d-flex">
                    <a href="#" class="block-20 img" style="background-image: url(@Url.Content("~/Images/canteen-vlu-cs3-22.jpg"));">
                    </a>
                    <div class="text p-4 bg-light">
                        <div class="meta">
                            <p><span class="fa fa-calendar"></span> 13 Tháng 12 2020</p>
                        </div>
                        <h3 class="heading mb-3"><a href="#">Giữ lấy những nụ cười thắp sáng không gian</a></h3>
                        <p>Sau mỗi bữa cơm, sau một ngày làm việc vất vả, điều để lại sau cùng trong lòng những con người nơi đây là</p>
                        <a href="#" class="btn-custom">Tiếp tục <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>